{% extends "core/base.html" %}

{% block tittle %}Contacto{% endblock tittle %}

{% block content %}
    <h2>Contacto</h2>
    <p>Zona de datos personales</p>   
    <ul>
        <li><a href="">Email</a></li>
        <li><a href="">Github</a></li>
        <li><a href="">Gitlab</a></li>
    </ul>
{% endblock content %}
