<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block tittle %}{% endblock tittle %} | JustPharmacy</title>
  
  <!-- Estilos y fuentes del template  -->
  {% load static %}

  <!-- Bootstrap core CSS -->
  <link href= "{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'core/css/business-frontpage.css'%}" rel="stylesheet">

</head>
<body>
     <!-- Navigation -->
    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"> 
            <a class="navbar-brand" href="#"> <img src="{% static 'core/img/icon.png' %}" alt="50" height="80"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Inicio
                    </a>    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ubicaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'farmaco_lista' %}">Farmacos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usuario' %}">Inicio de sesión</a>
                </li>
                </ul>
            </div>
        </nav>
        {% endblock navbar%}
        <div class="container">
            <div class="row">
            {% block content %} {% endblock content %}
            </div>
        </div>
     <!-- Footer 
    <footer class="py-5 bg-dark mt-5">
        <div class="container-fluid">
          <p class="m-0 text-center text-white">Copyright &copy; Justpharmacy 2019</p>
        </div>
    </footer>
    -->


  <!-- Bootstrap y JavaScript -->
  <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'core/js/efectos.js' %}"></script>

</body>

</html>