{% extends "core/base.html" %}
{% block tittle %}Farmacos{% endblock tittle %}

{% block content %}

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-8 mb-5">
        <h2>¿Qué remedio buscas?</h2>
        <hr>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Principio activo o nombre" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" onclick="desplieguese()" type="submit">Busqueda</button>
        </form>
        <p>NOTA: Los medicamentos que posean el simbolo "( ! )" solo se venden con receta</p>
        </div>
    </div>
    <!-- /.row -->
          <div class="row despliegue">
              <div class="col-md-12">
                  <div class="row">
                      <div class="col-12">
                          <br>
                          <table id="tablaUser" class="table table-bordered table-hover">
                              <thead class="thead-dark">
                                  <th>Principio Activo</th>
                                  <th>Nombre del producto</th>
                                  <th>Laboratorio</th>
                                  <th>Precio</th>
                                  <th>Stock</th>
                                  <th>Estado</th>
                              </thead>
                              <tr>
                                  <td>Levodropropizina</td>
                                  <td>BRONCARD 60mg/10ml Fco. x 120ml</td>
                                  <td>ITF - LABOMED</td>
                                  <td><form>$6.142</form></td>
                                  <td><select>
                                        <option value="">15</option>
                                        <option value="">14</option>
                                        <option value="">13</option>
                                        <option value="">12</option>
                                        <option value="">11</option>
                                        <option value="">10</option>
                                        <option value="">9</option>
                                        <option value="">8</option>
                                        <option value="">7</option>
                                        <option value="">6</option>
                                        <option value="">5</option>
                                        <option value="">4</option>
                                        <option value="">3</option>
                                        <option value="">2</option>
                                        <option value="">1</option>
  
  
                                    </select></td>
                                  <td><button class="btn btn-primary">Editar</button></td>
                              </tr>
                              <tr>
                                  <td>Levodropropizina</td>
                                  <td>NONTOX Oral Susp. x 120ml</td>
                                  <td>NEUMOBIOTICS</td>
                                  <td>$4.903</td>
                                  <td><select>
                                      <option value="">15</option>
                                      <option value="">14</option>
                                      <option value="">13</option>
                                      <option value="">12</option>
                                      <option value="">11</option>
                                      <option value="">10</option>
                                      <option value="">9</option>
                                      <option value="">8</option>
                                      <option value="">7</option>
                                      <option value="">6</option>
                                      <option value="">5</option>
                                      <option value="">4</option>
                                      <option value="">3</option>
                                      <option value="">2</option>
                                      <option value="">1</option>


                                  </select></td>
                                  <td><button class="btn btn-primary">Editar</button></td>
                              
                              </tr>
                             
                              <tr></tr>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
<!--/.Tabla-->
    {% for droga in drogas %}
        Droga : {{droga.nombre}}
    {% endfor %}
    <hr>
    <h5>Hola</h5>
    <button class="btn btn-secondary bt-lg mb-5 ">
           Panel administracion <span class="badge badge-primary">1</span>
    </button>

{% endblock content%}

</html>
