{% extends 'core/base.html' %}
{% load static %}

{% block tittle %}Farmacos{% endblock tittle %}

{% block content %}
<br>
<table class="table table-bordered table-hover m-5">
	<thead class="thead bg-success text-light">
		<tr>
			<td>#</td>
			<td>Nombre</td>
			<td>Principio</td>
			<td>Descripcion</td>
			<td>Laboratorio</td>
			<td>Stock</td>
			<td>Acciones</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}  <!-- SE USA OBJECT_LIST SOLO PARA VISTAS BASADAS EN CLASES, PARA FUNCIONES USAR DICCIONARIO-->
		{% for farmacos in object_list %}
		<tr>
			<td>{{ farmacos.id }}</td>
			<td>{{ farmacos.nombre }}</td>
			<td>{{ farmacos.principio }}</td>
			<td>{{ farmacos.descripcion }}</td>
			<td>{{ farmacos.laboratorio }}</td>
			<td>{{ farmacos.stock }} </td>
			<td>
				<a class="btn btn-primary" href="#">Editar</a>
				<a class="btn btn-danger" href="#">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de farmacos</h1>
		{% endif %}
	</tbody>
</table> 
<!--
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a> 
    	{% endif %}
    </li>
</ul> -->
{% endblock content %}

