{% extends "core/base.html" %}

{% load static %}

{% block tittle %}Inicio{% endblock tittle %}

{% block content %}

  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12 col-8">
          <h1 class="display-4 text-white mt-5 mb-2">Remedios que buscas al menor precio</h1>
          <p class="lead mb-5 text-white-50">Busca y compra tus remedios, las opciones más economicas junto su ubicación, para entregarte el mejor precio posible al que puedas acceder, solo debes retirar.</p>
        </div>
      </div>
    </div>
  </header>


  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 mb-5">
        <h2>¿Qué remedio buscas?</h2>
        <hr>
        <form class="form-inline">
           <input class="form-control mr-sm-2 mb-2" type="search" placeholder="Principio activo o nombre" aria-label="Search">
              <div class="form-group mx-2">
                <label class="mx-2" for="Ubicación">Comuna:</label>
                <select class="form-control" placeholder="Comuna" name="" id="">
                  <option>Ubicación</option>
                  <option>La Pintana</option>
                  <option>La Granja</option>
                  <option>Puente alto</option>
                </select>
              </div>
            <button class="btn btn-primary my-2 my-sm-0" onclick="desplieguese()" type="submit">Busqueda</button>
        </form>

          <br>
          <p class="text-muted"><small>NOTA: Los medicamentos que posean el simbolo "( ! )" solo se venden con receta</small></p>
        </div>
    </div>
    <!-- /.row -->

          <div class="row despliegue">
              <div class="col-md-12">
                  <div class="row">
                      <div class="col-12">
                          <br>
                          <table id="tablaUser" class="table table-bordered table-hover">
                              <thead class="thead-dark">
                                  <th>Principio Activo</th>
                                  <th>Nombre del producto</th>
                                  <th>Laboratorio</th>
                                  <th>Precio</th>
                                  <th>Stock</th>
                                  <th>Estado</th>
                              </thead>
                              <tr>
                                  <td>Levodropropizina</td>
                                  <td>BRONCARD 60mg/10ml Fco. x 120ml</td>
                                  <td>ITF - LABOMED</td>
                                  <td>$6.142</td>
                                  <td>15</td>
                                  <td><button class="btn btn-primary">Comprar</button></td>
                              </tr>
                              <tr>
                                  <td>Levodropropizina</td>
                                  <td>NONTOX Oral Susp. x 120ml</td>
                                  <td>NEUMOBIOTICS</td>
                                  <td>$4.903</td>
                                  <td>15</td>
                                  <td><button class="btn btn-primary">Comprar</button></td>
                              
                              </tr>
                             
                              <tr></tr>
                          </table>
                      </div>
                  </div>
              </div>
          </div>



    <div class="row">
      <div class="col-md-12">
        <br>
        <h2>  Mejores Ofertas</h2>
        <hr>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'core/img/saxenda.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Saxenda</h4>
            <p class="card-text"> Liraglutida 6Mg/Ml Inyectable </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Ver disponibilidad!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'core/img/antiax.png' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Antiax</h4>
            <p class="card-text">Cada comprimido masticable contiene:
                Magaldrate 480 mg
                Simeticona 100 mg
                Excipientes c.s.
                
                Cada 5 mL de suspensión contiene:
                Magaldrate 480 mg
                Simeticona 100 mg
                Excipientes c.s.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Ver disponibilidad!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'core/img/Pietra.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Pietra</h4>
            <p class="card-text"> Dienogest 2mg Oral Solido. Tratamiento de la endometriosis. </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Ver disponibilidad!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock content %}

 
</html>
