{% extends "core/base.html" %}

{% load static %}

{% block tiitle %}Usuario{% endblock tiitle %}

{% block content %}
    <div class="container">
            <div class="row mt-5">
                    <div class="col-12 col-md-8 mb-5 mt-5">
                        <h2>Inicio de sesión</h2>
                        <br>
                            <form action="{% url 'farmacos' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                      <label for="name" class="col-sm-2 col-form-label">Email</label>
                                      <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                                      <div class="col-sm-10">
                                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                                        <small id="passwordHelpBlock" class="form-text text-muted">
                                                Ingresa tu contraseña.
                                              </small>
                                      </div>
                                      <button class="btn btn-secondary mt-5 btn-lg" type="submit">Entrar</button>
                            </form>
                        </div>
                    </div>
                </div>
    </div>
{% endblock content %}